:root {
  --root-bg-color: #bbb2ea;
  --root-bg-color-dark: #988fd1;
}

.default {
  --font-family: TileSwap;

  --font-size-xs: 24px;
  --font-size-sm: 24px;
  --font-size-md: 48px;
  --font-size-lg: 64px;
  --title-font-size: 120px;

  --bg-color: var(--root-bg-color); /* #bbb2ea */ /* #adad85 */
  --bg-dark-color: var(--root-bg-color-dark) /* #988fd1 */;
  --hl-text-color: #fff;
  --shadow-text-color: #000;
  --hl-color: #fff;
  --shadow-color: #000;

  --bronze-color: #c59650;
  --silver-color: #d6d6d6;
  --success-color: #dac778;
  --puzzle-white: #9e968d;
  --devmode-color: red;

  --tile-border-radius: 30px;
  --button-border-radius: 7px;
  --sb-border-radius: 10px;
  --popup-border-radius: 15px;

  --button-padding: 15px;
  --button-default-w: 210px;
  --sb-size: 100px;

  --fade-time: 0.3s;
  --zoom-time: 0.2s;
  --tile-swap-time: 0.5s;

  --popup-bg-trans: rgba(0, 0, 0, 0.5);
  --popup-width: 50%;
}


@font-face {
  font-family: TileSwap;
  src: url('/fonts/TileSwap.ttf') format('truetype');
}

@font-face {
  font-family: ChingChong;
  src: url('/fonts/TsukimiRounded-Light.ttf') format('truetype');
}

@font-face {
  font-family: VerminVibes;
  src: url('/fonts/Vermin-Vibes-1989.ttf') format('truetype');
}

* {
  font-family: var(--font-family), sans-serif;
  user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
  touch-action: manipulation !important;
}

html,
body,
#app {
  background: var(--bg-color);
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: var(--hl-text-color);
  transition: background 0.3s ease;
}

img {
  touch-action: manipulation;
  -webkit-user-drag: none;
}

h1.main-title {
  text-align: center;
  font-size: var(--title-font-size);
  margin: 0;
  margin-bottom: 50px;
  padding-top: 50px;
  line-height: 0.65;
}
h1.main-title > span {
  color: black;
}

hr.separator {
  width: 88%;
  border-color: var(--bg-dark-color);
  background: var(--bg-dark-color);
  border-style: solid;
  height: 6px;
  border-radius: 5px;
}

h1.title {
  font-size: var(--font-size-lg);
  text-align: center;
  margin: 50px 0;
}

.is-task-target {
  outline: 5px solid var(--success-color);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--fade-time) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.zoom-enter-active,
.zoom-leave-active {
  transition: scale var(--zoom-time) ease;
}

.zoom-enter-from,
.zoom-leave-to {
  scale: 0;
}


.flip-enter-active {
  transition: transform 0.15s cubic-bezier(0.28, 0.28, 0.35, 0.96);
}
.flip-leave-active {
  transition: transform 0.15s cubic-bezier(0.56, 0.18, 0.79, 0.64);
}

.flip-leave-from {
  transform: rotateX(0deg);
}
.flip-leave-to {
  transform: rotateX(90deg);
}
.flip-enter-to {
  transform: rotateX(0deg);
}
.flip-enter-from {
  transform: rotateX(-90deg);
}

.spin-enter-active {
  transition: transform 0.15s cubic-bezier(0.28, 0.28, 0.35, 0.96);
}
.spin-leave-active {
  transition: transform 0.15s cubic-bezier(0.56, 0.18, 0.79, 0.64);
}

.spin-leave-from {
  transform: rotateX(0deg) rotateZ(0deg);
}
.spin-leave-to {
  transform: rotateX(90deg) rotateZ(90deg);
}
.spin-enter-to {
  transform: rotateX(0deg) rotateZ(0deg);
}
.spin-enter-from {
  transform: rotateX(-90deg) rotateZ(-90deg);
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.slide-move,
.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s ease;
}
.slide-enter-from,
.slide-leave-to {
  transform: translate(800px, -10px);
}
.slide-leave-active {
  position: absolute;
}

.text-center {
  text-align: center;
}

.top,
.left,
.right,
.bottom,
.center,
.middle {
  position: absolute;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.center {
  left: 50%;
  translate: -50%;
}

.middle {
  top: 50%;
  translate: 0 -50%;
}

.center.middle {
  translate: -50% -50%;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}