@font-face {
  font-family: TileSwap;
  src: url('./fonts/TileSwap.ttf') format('truetype');
}

* {
  font-family: TileSwap, sans-serif;
  user-select: none;
  box-sizing: border-box;
}

html, body {
  background-color: #adad85;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
img {
  touch-action: manipulation;
  -webkit-user-drag: none;
}